<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   La configuración de la aplicación de usuario y de la propiedad configurada van aquí.-->
    <!--   Ejemplo: <add key="settingName" value="settingValue"/> -->
    <add key="ConnectionString" value="Data Source=C:\work\hanygen\projects\GENARO\bd\genaro.db3;Pooling=true;FailIfMissing=false" />
    <add key="configuracion" value="C:\work\hanygen\projects\GENARO\tmp\hanygen.hag" />
    <add key="usuario" value="51a249e00231d93cbaf78cdac93f8b35/970420baabeb452f5b0442d2464d7d6f" />

  </appSettings>
</configuration>